<% breadcrumb :user_add_complete %>
<section id="user_add_complete" class="container sl_section_type1">
	<div class="row">
		<div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
			<h2 class="col-xs-12"><%=t(:user_add_complete) %></h2>
			<article class="col-xs-12">

			</article>
		</div>
	</div>
</section>
<script>

function waitForBridge() {
	if (typeof WebViewBridge !== 'undefined') {
			var d_data=data;
			WebViewBridge.onMessage = function (message) {
				if (message === "change url") {
						change_url(d_data);
				}
			};

			WebViewBridge.send(data);
	} else {
		change_url(data);
	}
}

window.onload = waitForBridge;

</script>
