<% breadcrumb :see_you_again %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%=t(:see_you_again) %></h2>
      <p><%=raw t(:last_message) %></p>
    </div>
  </div>
</section>
